html,body,#app,.el-container,.full-screen{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*加载图标*/
#start_image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 33%;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
/*登录界面*/
#loginDrawer {
    background: #271B3D url("./../img/stars.png") top repeat-x;
}
#loginForm {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    position: relative;
    top: 33%;
}
.loginBtn {
    width: 100%;
}
/*任务界面*/
.el-header {
    background-color: #432874;
    color: #333;
}
/*左侧*/
.el-aside {
    background-color: rgb(238, 241, 246);
}
.el-avatar {
    background-color: rgb(238, 241, 246);
    width: 30px;
    height: 30px;
}
.el-avatar>img {
    height: 100%;
}
.el-badge__content {
    background-color: #432874;
}
#habitica_title {
    font-size: 12px;
    background-color: rgb(238, 241, 246);
}
#user_avatar {
    position: relative;
    top: 25%;
}
#user-info {
    position: relative;
    top: 15%;
}
#user-name {
    font: 15px Medium;
    font-weight: bold;
}
#user-username {
    font: 12px Extra small-caption;
    margin: 0.4em 0;
    color: #432874;
}
.el-button--text {
    color: #432874;
    width: 60px;
}
.el-popover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5);
}
.el-menu {
    border-right: none;
}
.el-menu-item {
    color: #432874;
}
.el-link.el-link--default {
    color: #432874;
}
/*右侧*/
#content {
    border: 1px solid #432874;
    border-radius: 5px;
}
.el-row {
    height: 100%;
}
.el-main::-webkit-scrollbar {
    width: 0 !important
}
#task_list {
    font-size: 16px;
}
#task_list p {
    margin: 4px 0 0 0;
    font: 11px Extra Small;
    letter-spacing: 0.5px;
}
.task-icon {
    text-align: center;
    font-size: 26px;
}
.task-icon :hover {
    cursor: pointer;
}
.task-icon-disable {
    color: #C3C0C8;
}
.task-icon-disable :hover {
    cursor: not-allowed;
}
.task-completed {
    color: #C3C0C8;
}
.todo-circle {
    border-radius: 100%;
    border: 2px solid;
    width: 19px;
    height: 19px;
    margin: 5px auto;
}
.el-input {
    top: 20%;
}
.checklist-line {
    margin: 20px 0;
}
.checklist {
    padding-left: 6%;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #C3C0C8;
    border-color: #C3C0C8;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #C3C0C8;
    text-decoration: line-through;
}
.el-notification {
    width: 200px;
}