html,body,#app,.el-container,.full-screen{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*加载图标*/
#start_image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 33%;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.7s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
/*登录界面*/
#loginDrawer {
    background: #271B3D url("./../img/stars.png") top repeat-x;
}
#loginForm {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    position: relative;
    top: 33%;
}
.loginBtn {
    width: 100%;
}

/*任务界面*/
.el-header {
    background-color: #432874;
    color: #333;
}
/*左侧*/
.el-aside {
    background-color: rgb(238, 241, 246);
}
#habitica_title {
    font-size: 12px;
    background-color: rgb(238, 241, 246);
}
#user_avatar {
    position: relative;
    top: 15%;
}
#user_name {
    position: relative;
    top: 35%;
}
.el-menu {
    border-right: none;
}
.el-menu-item.is-active {
    color: #432874;
}
.el-link.el-link--default {
    color: #432874;
}

/*右侧*/
#content {
    border: 1px solid #432874;
    border-radius: 5px;
}
.el-row {
    height: 100%;
}