<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./src/static/css/element-ui.css">
    <link rel="stylesheet" href="./src/static/css/components.css">
    <title>HabitTools</title>
</head>
<body>
<div id="app">
    <div v-if="isLoading" class="full-screen" key="load-body"><loading /></div>
    <div v-else key="main-body" class="full-screen">
        <el-container>
            <el-aside width="200px">
                <el-header id="habitica_title">
                    <el-row>
                        <el-col :span=7 id="user_avatar">
                            <el-popover placement="bottom-start" trigger="hover">
                                <el-button type="text" icon="el-icon-refresh" @click="onSynchronousData">同步</el-button>
                                <el-divider direction="vertical"></el-divider>
                                <el-button type="text" icon="el-icon-switch-button" @click="onLogout">注销</el-button>
                                <el-avatar shape="square" :src="userAvatarImg" slot="reference"></el-avatar>
                            </el-popover>
                        </el-col>
                        <el-col :span=17 id="user-info">
                            <el-link @click="openHabitica" target="_blank" id="user-name">{{name | ellipsisName}}</el-link>
                            <el-tooltip class="item" effect="light" placement="bottom-start">
                                <div slot="content">{{username}}</div>
                                <p id="user-username">{{username | ellipsisUserName}} · 等级 {{level}}</p>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                </el-header>
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="menuVal=1"><i class="el-icon-time"></i><span slot="title">习惯</span></el-menu-item>
                    <el-menu-item index="2" @click="menuVal=2"><i class="el-icon-sunrise-1"></i><span slot="title">每日任务</span></el-menu-item>
                    <el-menu-item index="3" @click="menuVal=3"><i class="el-icon-finished"></i><span slot="title">待办事项</span></el-menu-item>
                </el-menu>
            </el-aside>
            <el-container id="content">
                <el-header>
                    <el-row :gutter="28" type="flex" align="middle">
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="HP/50*100" :title="HP" status="exception" :format="formatHP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="EXP/maxEXP*100" :title="EXP" status="warning" :format="formatEXP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="MP/maxMP*100"  :title="MP" :format="formatMP"></el-progress>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <div id="task_list">
                        <div id="habit_list" v-show="menuVal===1">
                            <template v-for="item in habitList">
                                <el-card shadow="hover" :body-style="{color:item.color}">
                                    <el-row :gutter="18">
                                        <el-col :span="2" class="task-icon" :class="[item.up ? '' : 'task-icon-disable']">
                                            <i class="el-icon-circle-plus-outline" @click="scoreTask(item.id, 'up', item.up);item.counterUp++;"></i>
                                        </el-col>
                                        <el-col :span="20">{{item.text}}<p>{{item.notes}}</p>
                                            <p class="count-task">+{{item.counterUp}}<el-divider direction="vertical"></el-divider>-{{item.counterDown}}</p>
                                        </el-col>
                                        <el-col :span="2" class="task-icon" :class="[item.down ? '' : 'task-icon-disable']">
                                            <i class="el-icon-remove-outline" @click="scoreTask(item.id, 'down', item.down);item.counterDown++;"></i>
                                        </el-col>
                                    </el-row>
                                </el-card>
                            </template>
                        </div>

                        <div id="daily_list" v-show="menuVal===2">
                            <template v-for="item in dailyList">
                                <el-card shadow="hover" :body-style="{color:item.color}">
                                    <el-row :gutter="18" :class="{'task-completed': item.completed || !item.isDue}">
                                        <el-col :span="2" class="task-icon">
                                            <div v-if="item.completed" >
                                            <i class="el-icon-circle-check" @click="item.completed=!item.completed;scoreTask(item.id, 'down', true);"></i>
                                            </div>
                                            <div v-else class="todo-circle" @click="item.completed=!item.completed;scoreTask(item.id, 'up', true);"></div>
                                        </el-col>
                                        <el-col :span="20">{{item.text}}<p>{{item.notes}}</p></el-col>
                                        <el-col :span="2" class="task-icon" v-if="item.checklist.length > 0">
                                            <i :class="[item.collapseChecklist ? 'el-icon-arrow-left' : 'el-icon-arrow-down']"
                                               @click="item.collapseChecklist=!item.collapseChecklist;changeCollapseIcon(item.id,item.collapseChecklist);"></i>
                                        </el-col>
                                    </el-row>
                                    <div v-if="item.checklist.length > 0 && !item.collapseChecklist">
                                        <el-divider class="checklist-line"></el-divider>
                                        <div v-for="ck in item.checklist" :key="ck.id" class="checklist">
                                            <el-checkbox v-model="ck.completed" :style="{color:item.color}" @change="scoreCheckList(item.id,ck.id)">{{ck.text}}</el-checkbox>
                                        </div>
                                    </div>
                                </el-card>
                            </template>
                        </div>

                        <div id="todo_list" v-show="menuVal===3">
                            <template v-for="item in todoList">
                                <el-card shadow="hover" :body-style="{color:item.color}">
                                    <el-row :gutter="18" :class="{'task-completed': item.completed}">
                                        <el-col :span="2" class="task-icon">
                                            <i v-if="item.completed" class="el-icon-circle-check" @click="item.completed=!item.completed;scoreTask(item.id, 'down', true);"></i>
                                            <div v-else class="todo-circle" @click="item.completed=!item.completed;scoreTask(item.id, 'up', true);"></div>
                                        </el-col>
                                        <el-col :span="20">{{item.text}}<p>{{item.notes}}</p></el-col>
                                        <el-col :span="2" class="task-icon" v-if="item.checklist.length > 0">
                                            <i :class="[item.collapseChecklist ? 'el-icon-arrow-left' : 'el-icon-arrow-down']"
                                               @click="item.collapseChecklist=!item.collapseChecklist;changeCollapseIcon(item.id,item.collapseChecklist);"></i>
                                        </el-col>
                                    </el-row>
                                    <div v-if="item.checklist.length > 0 && !item.collapseChecklist">
                                        <el-divider class="checklist-line"></el-divider>
                                        <div v-for="ck in item.checklist" :key="ck.id" class="checklist">
                                            <el-checkbox v-model="ck.completed" :style="{color:item.color}" @change="scoreCheckList(item.id,ck.id)">{{ck.text}}</el-checkbox>
                                        </div>
                                    </div>
                                </el-card>
                            </template>
                        </div>

                    </div>
                </el-main>
                <el-footer style="height: 70px;">
                    <el-input placeholder="键入回车新建" @keyup.enter.native="create" v-model="createInput"></el-input>
                </el-footer>
            </el-container>
        </el-container>
    </div>
    <el-drawer direction="ttb" size="80%" @closed="loginHabitica" :visible.sync="dialog" ref="drawer" title="登录" :with-header="false">
        <div id="loginDrawer" class="full-screen">
            <el-form ref="form" :model="userForm" id="loginForm">
                <el-form-item>
                    <el-input v-model="userForm.user" maxlength="36" show-word-limit placeholder="用户ID"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="userForm.key" maxlength="36" show-word-limit placeholder="API令牌"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-row>
                        <el-col :span=11><el-button class="loginBtn" @click="onRegistered">注 册</el-button></el-col>
                        <el-col :span=2>&nbsp;</el-col>
                        <el-col :span=11><el-button class="loginBtn" type="primary" @click="onLogin">登 录</el-button></el-col>
                    </el-row>
                </el-form-item>
            </el-form>
        </div>
    </el-drawer>
    <el-dialog title="勾选你昨天做过的任务" :visible.sync="undoneList.length>0" width="50%" :before-close="doNone" center :show-close="false">
        <template v-for="item in undoneList">
            <el-card shadow="hover" :body-style="{color:item.color}">
                <el-row :gutter="18" :class="{'task-completed': item.completed}">
                    <el-col :span="2" class="task-icon">
                        <div v-if="item.completed" >
                            <i class="el-icon-circle-check" @click="item.completed=!item.completed"></i>
                        </div>
                        <div v-else class="todo-circle" @click="item.completed=!item.completed"></div>
                    </el-col>
                    <el-col :span="20">{{item.text}}<p>{{item.notes}}</p></el-col>
                    <el-col :span="2" class="task-icon" v-if="item.checklist.length > 0">
                        <i :class="[item.collapseChecklist ? 'el-icon-arrow-left' : 'el-icon-arrow-down']"
                           @click="item.collapseChecklist=!item.collapseChecklist;changeCollapseIcon(item.id,item.collapseChecklist);"></i>
                    </el-col>
                </el-row>
                <div v-if="item.checklist.length > 0 && !item.collapseChecklist">
                    <el-divider class="checklist-line"></el-divider>
                    <div v-for="ck in item.checklist" :key="ck.id" class="checklist">
                        <el-checkbox v-model="ck.completed" :style="{color:item.color}" @change="scoreCheckList(item.id,ck.id)">{{ck.text}}</el-checkbox>
                    </div>
                </div>
            </el-card>
        </template>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="completedYesterday" class="habitica-btn">开始新的一天</el-button>
        </span>
    </el-dialog>
</div>

</body>
<script src="./src/static/js/vue.min.js"></script>
<script src="./src/static/js/element-ui.js"></script>
<script src="./src/static/js/axios.js"></script>
<script src="./src/static/js/uTools.js"></script>
<script src="./src/static/js/components.js"></script>
<script src="./src/static/js/habitica.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isLoading: true,
            dialog: false,
            userForm: {user: '', key: ''},
            userAvatarImg: "",
            name: "",
            username: "",
            level: 0,
            HP: 0,
            EXP: 0,
            maxEXP: 0,
            MP: 0,
            maxMP: 0,
            menuVal: 1,
            habitList: [],
            dailyList: [],
            todoList: [],
            undoneList: [],
            createInput: ''
        },
        methods: {
            onRegistered() {openBrowser("https://habitica.com/static/home");},
            onLogin() {this.dialog = false;},
            doNone() {return false;},
            lossOfSync() {
                let that = this;
                setTimeout(function () {that.$message.error('失去同步');}, 200);
            },
            loginHabitica() {
                headers["x-api-user"] = this.userForm.user;
                headers["x-api-key"] = this.userForm.key;
                getHBUserInfo((userInfo) => {
                    if (userInfo) {
                        this.refreshData(userInfo);
                        saveToDB(DB_KEY_USER_INFO, this.userForm.key + DB_KEY_SPLIT + this.userForm.user);
                        this.userForm.key = '';
                        this.userForm.user = '';
                        this.isLoading = false;
                        this.menuVal = 1;
                    } else {
                        this.dialog = true;
                        let that = this;
                        setTimeout(function () {that.$message.error('登录失败');}, 200);
                    }
                });
            },
            isNotLogin() {
                if (!headers["x-api-user"]) {
                    const userInfo = getFromDB(DB_KEY_USER_INFO);
                    if (!userInfo) {
                        return true;
                    }
                    let values = userInfo.split(DB_KEY_SPLIT);
                    headers["x-api-user"] = values[1];
                    headers["x-api-key"] = values[0];
                }
                return false;
            },
            onSynchronousData() {
                if (this.isNotLogin()) {
                    this.dialog = true;
                    return;
                }
                getHBUserInfo((userInfo) => {
                    if (userInfo) {
                        this.refreshData(userInfo);
                        this.$message({
                            message: '同步成功',
                            center: true,
                            type: 'success',
                            duration: 1000,
                            offset: 70
                        });
                    } else {
                        this.dialog = true;
                        this.lossOfSync();
                    }
                });
            },
            refreshData(userInfo) {
                this.name = userInfo.profile.name;
                this.username = userInfo.auth.local.username;
                this.level = userInfo.stats.lvl;
                this.HP = userInfo.stats.hp;
                this.EXP = userInfo.stats.exp;
                this.maxEXP = userInfo.stats.toNextLevel;
                this.MP = userInfo.stats.mp;
                this.maxMP = userInfo.stats.maxMP;
                this.userAvatarImg = "./src/static/svg/" + userInfo.stats.class + ".svg";
                this.isLoading = false;
                if (userInfo.stats.hp === 0) {
                    this.openHabitica();
                }
                getHBHabit((tasks) =>{
                    if (tasks) {
                        this.habitList = [];
                        this.dailyList = [];
                        this.todoList = [];
                        this.undoneList = [];
                        for (let i = 0; i < tasks.length ; ++i) {
                            let task = tasks[i];
                            if (task.type === "habit") {
                                this.habitList.push({
                                    id: task.id,
                                    text: task.text,
                                    notes: task.notes,
                                    color: getColorByValue(task.value),
                                    up: task.up,
                                    down: task.down,
                                    counterUp: task.counterUp,
                                    counterDown: task.counterDown
                                });
                            }else if (task.type === "daily") {
                                this.dailyList.push({
                                    id: task.id,
                                    text: task.text,
                                    notes: task.notes,
                                    color: getColorByValue(task.value),
                                    completed: task.completed,
                                    isDue: task.isDue,
                                    collapseChecklist: task.collapseChecklist,
                                    checklist: task.checklist,
                                    yesterDaily: task.yesterDaily,
                                });
                            }else if (task.type === "todo") {
                                this.todoList.push({
                                    id: task.id,
                                    text: task.text,
                                    notes: task.notes,
                                    color: getColorByValue(task.value),
                                    completed : task.completed,
                                    collapseChecklist: task.collapseChecklist,
                                    checklist: task.checklist
                                });
                            }
                        }
                        let lastStartTime = new Date(userInfo.auth.timestamps.loggedin);
                        lastStartTime.setHours(userInfo.preferences.dayStart);
                        lastStartTime.setMinutes(0);
                        lastStartTime.setSeconds(0);
                        lastStartTime.setMilliseconds(0);
                        let todayCron = new Date();
                        todayCron.setHours(userInfo.preferences.dayStart);
                        todayCron.setMinutes(0);
                        todayCron.setSeconds(0);
                        todayCron.setMilliseconds(0);
                        if (new Date() >= lastStartTime && new Date(userInfo.lastCron) < todayCron) {
                            for (let i = 0; i < this.dailyList.length; ++i) {
                                if (this.dailyList[i].yesterDaily && !this.dailyList[i].completed) {
                                    this.undoneList.push(this.dailyList[i]);
                                }
                            }
                        }
                    } else {
                        this.lossOfSync();
                    }
                });
            },
            onLogout() {
                this.isLoading = true;
                headers["x-api-user"] = '';
                headers["x-api-key"] = '';
                delInDB(DB_KEY_USER_INFO);
                this.dialog = true;
            },
            openHabitica() {openBrowser("https://habitica.com");},
            formatHP(percentage) {return ~~this.HP;},
            formatEXP(percentage) {return ~~this.EXP;},
            formatMP(percentage) {return ~~this.MP;},
            changeCollapseIcon(id, collapseChecklist) {updateHBTask(id, {"collapseChecklist": collapseChecklist});},
            scoreTask(id, direction, isAvailable) {
                if (!isAvailable) {return;}
                scoreHBTask(id, direction, async (rsp) => {
                    if (rsp) {
                        if (rsp.hp < this.HP) {
                            await this.$notify({message: '生命：-' + (this.HP - rsp.hp).toFixed(2), position: 'bottom-left', type: 'warning', duration: 2000});
                        }
                        if (rsp.lvl > this.level) {
                            await this.$notify({message: '经验：+' + (this.maxEXP - this.EXP + rsp.exp).toFixed(2), position: 'bottom-left', type: 'success', duration: 2000});
                            await this.$notify({message: '升级了！', position: 'bottom-left', type: 'success', duration: 2000});
                        } else if (rsp.exp < this.EXP) {
                            await this.$notify({message: '经验：-' + (this.EXP - rsp.exp).toFixed(2), position: 'bottom-left', type: 'warning', duration: 2000});
                        } else if (rsp.exp > this.EXP){
                            await this.$notify({message: '经验：+' + (rsp.exp - this.EXP).toFixed(2), position: 'bottom-left', type: 'success', duration: 2000});
                        }
                        if (rsp.mp < this.MP) {
                            await this.$notify({message: '魔法：-' + (this.MP - rsp.mp).toFixed(2), position: 'bottom-left', type: 'warning', duration: 2000});
                        } else if (rsp.mp > this.MP){
                            await this.$notify({message: '魔法：+' + (rsp.mp - this.MP).toFixed(2), position: 'bottom-left', type: 'success', duration: 2000});
                        }
                        this.level = rsp.lvl;
                        this.HP = rsp.hp;
                        this.EXP = rsp.exp;
                        this.MP = rsp.mp;
                    } else {
                        this.lossOfSync();
                    }
                });
            },
            scoreCheckList(taskId, checkListId) {scoreHBCheckList(taskId, checkListId);},
            create() {
                let type = this.menuVal === 1 ? "habit" : this.menuVal === 2 ? "daily" : this.menuVal === 3 ? "todo" : "";
                createTask(this.createInput, type, (success) => {
                    if (success) {
                        this.createInput = '';
                    } else {
                        this.lossOfSync();
                    }
                    this.onSynchronousData();
                });
            },
            completedYesterday() {
                let doneList = [];
                for (let i = 0; i < this.undoneList.length; ++i) {
                    let task = this.undoneList[i];
                    if (task.completed) {
                        doneList.push({id: task.id, direction: "up"});
                    }
                }
                if (doneList.length > 0) {
                    bulkUpScore(doneList);
                }
                cronTask((success) => {
                    if (success) {
                        this.onSynchronousData();
                    } else {
                        this.lossOfSync();
                    }
                    this.undoneList = [];
                });
            }
        },
        mounted() {utools.onPluginEnter(() => this.onSynchronousData());},
        filters: {
            ellipsisName: function(value) {
                if (!value) return '';
                if (/^[A-Za-z0-9]+$/.test(value)) {
                    return value.length < 15 ? value : value.slice(0, 13) + '...';
                } else {
                    return value.length < 8 ? value : value.slice(0, 6) + '...';
                }
            },
            ellipsisUserName: function (value) {
                if (!value) return '';
                if (value.length < 8) return value;
                return value.slice(0, 7) + '...';
            }
        }
    });
</script>
</html>