<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./src/static/css/element-ui.css">
    <link rel="stylesheet" href="./src/static/css/components.css">
    <title>HabitTools</title>
</head>
<body>
<div id="app">
    <div v-if="isLoading" class="full-screen" key="load-body">
        <loading />
    </div>
    <div v-else key="main-body" class="full-screen">
        <el-container>
            <el-aside width="200px">
                <el-header id="habitica_title">
                    <el-row>
                        <el-col :span=7 id="user_avatar">
                            <el-avatar :src="userAvatarImg"></el-avatar>
                        </el-col>
                        <el-col :span=17 id="user-info">
                            <el-link @click="openHabitica" target="_blank" id="user-name">{{name | ellipsis}}</el-link>
                            <p id="user-username">@{{username}} · 等级 {{level}}</p>
                        </el-col>
                    </el-row>
                </el-header>
                <el-menu default-active="1">
                    <el-menu-item index="1">
                        <i class="el-icon-time"></i>
                        <span slot="title">习惯</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-sunrise-1"></i>
                        <span slot="title">每日任务</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-notebook-2"></i>
                        <span slot="title">待办事项</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>

            <el-container id="content">
                <el-header>
                    <el-row :gutter="28" type="flex" align="middle">
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="HP/50*100" :title="HP" status="exception" :format="formatHP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="EXP/maxEXP*100" :title="EXP" status="warning" :format="formatEXP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="MP/maxMP*100"  :title="MP" :format="formatMP"></el-progress>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <div id="task_list">

                    </div>
                </el-main>
                <el-footer><el-input placeholder="键入回车新建" @keyup.enter.native="create" v-model="createInput"></el-input></el-footer>
            </el-container>
        </el-container>
    </div>
    <el-drawer direction="ttb" size="80%" @closed="loginHabitica" :visible.sync="dialog" ref="drawer" title="登录" :with-header="false">
        <div id="loginDrawer" class="full-screen">
            <el-form ref="form" :model="userForm" id="loginForm">
                <el-form-item>
                    <el-input v-model="userForm.userId" maxlength="36" show-word-limit placeholder="用户ID"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="userForm.apiToken" maxlength="36" show-word-limit placeholder="API令牌"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-row>
                        <el-col :span=11><el-button class="loginBtn" @click="onRegistered">注 册</el-button></el-col>
                        <el-col :span=2>&nbsp;</el-col>
                        <el-col :span=11><el-button class="loginBtn" type="primary" @click="onLogin">登 录</el-button></el-col>
                    </el-row>
                </el-form-item>
            </el-form>
        </div>
    </el-drawer>
</div>

</body>
<script src="./src/static/js/vue-dev.js"></script>
<script src="./src/static/js/element-ui.js"></script>
<script src="./src/static/js/axios.js"></script>
<script src="./src/static/js/uTools.js"></script>
<script src="./src/static/js/components.js"></script>
<script src="./src/static/js/habitica.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isLoading: true,
            dialog: false,
            userForm: {userId: '', apiToken: ''},
            userAvatarImg: "./src/static/svg/wizard.svg",
            name: "鹿友",
            username: "Zohn",
            level: 51,
            HP: 10,
            EXP: 1074,
            maxEXP: 1200,
            MP: 418,
            maxMP: 430,
            menuVal: 1,
            createInput: ''
        },
        methods: {
            onRegistered() {
                openBrowser('https://habitica.com/static/home');
            },
            onLogin() {
                this.dialog = false;
            },
            loginHabitica() {
                getHBUserInfo(this.userForm.userId, this.userForm.apiToken, (userInfo) => {
                    if (userInfo) {
                        console.info(userInfo.profile.name);
                        this.
                        saveToDB(DB_KEY_USER_INFO, this.userForm.apiToken + DB_KEY_SPLIT + this.userForm.userId);
                        this.isLoading = false;
                    } else {
                        this.dialog = true;
                        let that = this;
                        setTimeout(function () {
                            that.$message.error('登录失败');
                        }, 200);
                    }
                });
            },
            //主界面开始
            openHabitica() {
                openBrowser('https://habitica.com/');
            },
            //格式化进度条，显示具体数值
            formatHP(percentage) {return this.HP;},
            formatEXP(percentage) {return this.EXP;},
            formatMP(percentage) {return this.MP;},
            create() {
                alert("创建："+this.menuVal)
            }
        },
        mounted() {
            utools.onPluginReady(() => {
                console.info("onPluginReady");
                const userInfo = getFromDB(DB_KEY_USER_INFO);
                console.info(userInfo);
                if (!userInfo) {
                    this.dialog = true;
                    return;
                }
                let values = userInfo.split(DB_KEY_SPLIT);
                console.info("获取habitica数据");
                getHBUserInfo(values[1], values[0], (userInfo) => {
                    if (userInfo) {
                        console.info(userInfo.profile.name);
                        this.isLoading = false;
                    } else {
                        this.dialog = true;
                        let that = this;
                        setTimeout(function () {
                            that.$message.error('凭证失效');
                        }, 200);
                    }
                });
            });
        },
        filters: {
            ellipsis: function(value) {
                if (!value) return '';
                if (value.length < 8) return value;
                //长度超长的根据名字判断，纯汉字最大7位，纯英文数字最大14位
                if (/^[A-Za-z0-9]+$/.test(value)) {
                    return value.slice(0, 12) + '...';
                } else {
                    return value.slice(0, 6) + '...';
                }
            }
        }
    });
</script>
</html>