<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./src/static/css/element-ui.css">
    <link rel="stylesheet" href="./src/static/css/components.css">
    <title>HabitTools</title>
</head>
<body>
<div id="app">
    <div v-if="isLoading" class="full-screen" key="load-body"><loading /></div>
    <div v-else key="main-body" class="full-screen">
        <el-container>
            <el-aside width="200px">
                <el-header id="habitica_title">
                    <el-row>
                        <el-col :span=7 id="user_avatar">
                            <el-popover placement="bottom-start" trigger="hover">
                                <el-button type="text" icon="el-icon-refresh" @click="onSynchronousData">同步</el-button>
                                <el-divider direction="vertical"></el-divider>
                                <el-button type="text" icon="el-icon-switch-button" @click="onLogout">注销</el-button>
                                <el-avatar shape="square" :src="userAvatarImg" slot="reference"></el-avatar>
                            </el-popover>
                        </el-col>
                        <el-col :span=17 id="user-info">
                            <el-link @click="openHabitica" target="_blank" id="user-name">{{name | ellipsisName}}</el-link>
                            <el-tooltip class="item" effect="light" placement="bottom-start">
                                <div slot="content">{{username}}</div>
                                <p id="user-username">{{username | ellipsisUserName}} · 等级 {{level}}</p>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                </el-header>
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="menuVal=1"><i class="el-icon-time"></i><span slot="title">习惯</span></el-menu-item>
                    <el-menu-item index="2" @click="menuVal=2"><i class="el-icon-sunrise-1"></i><span slot="title">每日任务</span></el-menu-item>
                    <el-menu-item index="3" @click="menuVal=3"><i class="el-icon-finished"></i><span slot="title">待办事项</span></el-menu-item>
                </el-menu>
            </el-aside>
            <el-container id="content">
                <el-header>
                    <el-row :gutter="28" type="flex" align="middle">
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="HP/50*100" :title="HP" status="exception" :format="formatHP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="EXP/maxEXP*100" :title="EXP" status="warning" :format="formatEXP"></el-progress>
                        </el-col>
                        <el-col :span="8">
                            <el-progress :text-inside="true" :stroke-width="23" :percentage="MP/maxMP*100"  :title="MP" :format="formatMP"></el-progress>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <div id="task_list">
                        <div id="habit_list" v-show="menuVal===1">
                            <template v-for="item in habitList">
                                <el-card shadow="hover" :body-style="{color:item.color}">
                                    <el-row :gutter="18">
                                        <el-col :span="2" class="task-icon" :class="[item.up ? '' : 'task-icon-disable']">
                                            <i class="el-icon-circle-plus-outline"></i>
                                        </el-col>
                                        <el-col :span="20">
                                            {{item.text}}
                                            <p>{{item.notes}}</p>
                                        </el-col>
                                        <el-col :span="2" class="task-icon" :class="[item.down ? '' : 'task-icon-disable']">
                                            <i class="el-icon-remove-outline"></i>
                                        </el-col>
                                    </el-row>
                                </el-card>
                            </template>
                        </div>

                        <div id="daily_list" v-show="menuVal===2">
                            <template v-for="item in dailyList">
                                <el-card shadow="hover" :body-style="{color:item.color}">
                                    <el-row :gutter="18">
                                        <el-col :span="2" class="task-icon" :class="[item.completed ? 'task-icon-completed' : '']">
                                            <i class="el-icon-circle-check"></i>
                                        </el-col>
                                        <el-col :span="22">
                                            {{item.text}}
                                            <p>{{item.notes}}</p>
                                        </el-col>
                                    </el-row>
                                </el-card>
                            </template>
                        </div>

                        <div id="todo_list" v-show="menuVal===3">
                            todo
                        </div>

                    </div>
                </el-main>
                <el-footer><el-input placeholder="键入回车新建" @keyup.enter.native="create" v-model="createInput"></el-input></el-footer>
            </el-container>
        </el-container>
    </div>
    <el-drawer direction="ttb" size="80%" @closed="loginHabitica" :visible.sync="dialog" ref="drawer" title="登录" :with-header="false">
        <div id="loginDrawer" class="full-screen">
            <el-form ref="form" :model="userForm" id="loginForm">
                <el-form-item>
                    <el-input v-model="userForm.user" maxlength="36" show-word-limit placeholder="用户ID"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="userForm.key" maxlength="36" show-word-limit placeholder="API令牌"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-row>
                        <el-col :span=11><el-button class="loginBtn" @click="onRegistered">注 册</el-button></el-col>
                        <el-col :span=2>&nbsp;</el-col>
                        <el-col :span=11><el-button class="loginBtn" type="primary" @click="onLogin">登 录</el-button></el-col>
                    </el-row>
                </el-form-item>
            </el-form>
        </div>
    </el-drawer>
</div>

</body>
<script src="./src/static/js/vue-dev.js"></script>
<script src="./src/static/js/element-ui.js"></script>
<script src="./src/static/js/axios.js"></script>
<script src="./src/static/js/uTools.js"></script>
<script src="./src/static/js/components.js"></script>
<script src="./src/static/js/habitica.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isLoading: true,
            dialog: false,
            userForm: {user: '', key: ''},
            userAvatarImg: "",
            name: "",
            username: "",
            level: 0,
            HP: 0,
            EXP: 0,
            maxEXP: 0,
            MP: 0,
            maxMP: 0,
            menuVal: 1,
            habitList: [],
            dailyList: [],
            todoList: [],
            createInput: ''
        },
        methods: {
            onRegistered() {openBrowser('https://habitica.com/static/home');},
            onLogin() {this.dialog = false;},
            loginHabitica() {
                getHBUserInfo(this.userForm.user, this.userForm.key, (userInfo) => {
                    if (userInfo) {
                        this.refreshData(userInfo, this.userForm.user, this.userForm.key);
                        saveToDB(DB_KEY_USER_INFO, this.userForm.key + DB_KEY_SPLIT + this.userForm.user);
                        this.userForm.key = '';
                        this.userForm.user = '';
                        this.isLoading = false;
                    } else {
                        this.dialog = true;
                        let that = this;
                        setTimeout(function () {
                            that.$message.error('登录失败');
                        }, 200);
                    }
                });
            },
            onSynchronousData() {
                const userInfo = getFromDB(DB_KEY_USER_INFO);
                if (!userInfo) {
                    this.dialog = true;
                    return;
                }
                let values = userInfo.split(DB_KEY_SPLIT);
                let user = values[1], key = values[0];
                getHBUserInfo(user, key, (userInfo) => {
                    if (userInfo) {
                        this.refreshData(userInfo, user, key);
                        this.$message({
                            message: '已同步',
                            center: true,
                            type: 'success',
                            duration: 1000,
                            offset: 70
                        });
                    } else {
                        this.dialog = true;
                        let that = this;
                        setTimeout(function () {
                            that.$message.error('账号异常');
                        }, 200);
                    }
                });
            },
            refreshData(userInfo, user, key) {
                this.name = userInfo.profile.name;
                this.username = userInfo.auth.local.username;
                this.level = userInfo.stats.lvl;
                this.HP = ~~userInfo.stats.hp;
                this.EXP = ~~userInfo.stats.exp;
                this.maxEXP = userInfo.stats.toNextLevel;
                this.MP = ~~userInfo.stats.mp;
                this.maxMP = userInfo.stats.maxMP;
                this.userAvatarImg = "./src/static/svg/" + userInfo.stats.class + ".svg";
                this.isLoading = false;
                getHBHabit(user, key, (tasks) =>{
                    if (tasks) {
                        this.habitList = [];
                        this.dailyList = [];
                        this.todoList = [];
                        for (let i = 0; i < tasks.length ; ++i) {
                            let task = tasks[i];
                            if (task.type === "habit") {
                                this.habitList.push({
                                    text: task.text,
                                    notes: task.notes,
                                    color: getColorByValue(task.value),
                                    up: task.up,
                                    down: task.down
                                });
                            }else if (task.type === "daily") {
                                this.dailyList.push({
                                    text: task.text,
                                    notes: task.notes,
                                    color: getColorByValue(task.value),
                                    completed: task.completed,
                                });
                            }else if (task.type === "todo") {
                                this.todoList.push({});
                            }
                        }
                    } else {
                        let that = this;
                        setTimeout(function () {
                            that.$message.error('同步任务异常，请重试');
                        }, 200);
                    }
                });
            },
            onLogout() {
                this.isLoading = true;
                delInDB(DB_KEY_USER_INFO);
                this.dialog = true;
            },
            openHabitica() {openBrowser('https://habitica.com/');},
            formatHP(percentage) {return this.HP;},
            formatEXP(percentage) {return this.EXP;},
            formatMP(percentage) {return this.MP;},
            create() {
                alert("创建："+this.menuVal)
            }
        },
        mounted() {
            utools.onPluginEnter(() => this.onSynchronousData());
        },
        filters: {
            ellipsisName: function(value) {
                if (!value) return '';
                if (/^[A-Za-z0-9]+$/.test(value)) {
                    return value.length < 15 ? value : value.slice(0, 13) + '...';
                } else {
                    return value.length < 8 ? value : value.slice(0, 6) + '...';
                }
            },
            ellipsisUserName: function (value) {
                if (!value) return '';
                if (value.length < 8) return value;
                return value.slice(0, 7) + '...';
            }
        }
    });
</script>
</html>