<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
      .el-header {
          background-color: #B3C0D1;
          color: #333;
          line-height: 60px;
      }
      .el-aside {
          color: #333;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <el-container style="height: 500px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
          <el-header style="text-align: right; font-size: 12px; background-color: #fff">
            <el-link href="https://element.eleme.io" target="_blank">habitica</el-link>
          </el-header>
          <el-menu default-active="1">
            <el-menu-item index="1">
              <i class="el-icon-menu"></i>
              <span slot="title">习惯</span>
            </el-menu-item>
            <el-menu-item index="2">
              <i class="el-icon-menu"></i>
              <span slot="title">每日任务</span>
            </el-menu-item>
            <el-menu-item index="3">
              <i class="el-icon-menu"></i>
              <span slot="title">待办事项</span>
            </el-menu-item>
          </el-menu>
        </el-aside>

        <el-container>
          <el-header style="text-align: right; font-size: 12px">
            <el-input placeholder = "添加一个任务"></el-input>
          </el-header>
          <el-main>
            <el-radio v-model="radio" label="1">任务1</el-radio>
            <el-divider></el-divider>
            <el-radio v-model="radio" label="2">任务2</el-radio>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </body>

  <script>
    </script>
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app'
    })
  </script>
</html>